Sec4sys_Automation.json
{"updatedAt":"2025-11-10T16:05:08.084Z","createdAt":"2025-11-10T16:05:08.084Z","id":"LGUBQ1Hia8BPUbty","name":"Agent — GitHub PR approval (qwen2.5-coder)","active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"initialMessages":"Hi there! 👋","options":{"responseMode":"lastNode"}},"id":"2137a6ea-4b7b-4eff-b785-a8be55b1f991","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-928,-112],"webhookId":"chat-trigger-webhook"},{"parameters":{"options":{}},"id":"e2ffcfae-3d4c-4155-b0af-f2b3768fc886","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-704,-112]},{"parameters":{"model":"qwen2.5-coder:latest","options":{}},"id":"0976fe49-0d8d-4dc3-8e90-dd5c05522e96","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-800,80],"credentials":{"ollamaApi":{"id":"hkXjB2xHCeqq3gjM","name":"Ollama account"}}},{"parameters":{},"id":"dcbb932a-dd90-46de-b421-81535579fc20","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-640,128],"credentials":{"postgres":{"id":"mmieiMOdBN7Rfbjo","name":"Postgres account"}}},{"parameters":{"url":"=https://api.github.com/repos/lufiDK4674/Sec4sys_Demo/contents/{{$json[\"path\"]}}?ref={{$json[\"branch\"] || \"main\"}}","jsonParameters":true,"options":{}},"id":"acdc4f22-3c75-4306-8fc7-c7638c93692c","name":"GitHub - Get File (HTTP)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-208,-208]},{"parameters":{"requestMethod":"POST","url":"https://api.github.com/repos/lufiDK4674/Sec4sys_Demo/git/refs","options":{}},"id":"1426c1e1-eb0b-41b5-8110-a6bef54402c5","name":"GitHub - Create Branch (HTTP)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-208,-64]},{"parameters":{"requestMethod":"PUT","url":"=https://api.github.com/repos/lufiDK4674/Sec4sys_Demo/contents/{{$json[\"path\"]}}","options":{}},"id":"f52f275b-4c36-4ad3-a07b-676a125a49f4","name":"GitHub - Update File (HTTP)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-208,96]},{"parameters":{"requestMethod":"POST","url":"https://api.github.com/repos/lufiDK4674/Sec4sys_Demo/pulls","options":{}},"id":"9976633b-afcf-4083-80d3-9eaf52fc61eb","name":"GitHub - Create PR (HTTP)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[48,-64]},{"parameters":{"fromEmail":"4674kumardivyanshu@gmail.com","toEmail":"moviesbadshah4674@gmail.com","subject":"Agent proposed fix — PR created: {{$json[\"pr_title\"]}}","text":"Agent proposed a fix and created a PR.\n\nTitle: {{$json[\"pr_title\"]}}\nPR URL: {{$json[\"pr_url\"]}}\n\nApprove: {{$json[\"approve_url\"]}}\nReject: {{$json[\"reject_url\"]}}","html":"<p>Agent proposed a fix and created a PR.</p><p><strong>Title:</strong> {{$json[\"pr_title\"]}}</p><p><a href=\"{{$json[\"pr_url\"]}}\">Open PR</a></p><p><a href=\"{{$json[\"approve_url\"]}}\">Approve (merge)</a> | <a href=\"{{$json[\"reject_url\"]}}\">Reject</a></p>","options":{}},"id":"d9d7bdb5-e795-443a-9d5e-ea253ef4dcba","name":"Send Email - PR Created","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[48,144]},{"parameters":{"path":"pr-approval","options":{}},"id":"b112b3f1-4cdd-49d2-b168-10ed211b3699","name":"Webhook - Approve/Reject","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[336,112],"webhookId":"pr-approval-webhook"},{"parameters":{"requestMethod":"PUT","url":"=https://api.github.com/repos/lufiDK4674/Sec4sys_Demo/pulls/{{ $json[\"pull_number\"] }}/merge","options":{}},"id":"431c0daa-6479-4dfe-a83b-a626813dd257","name":"GitHub - Merge PR (HTTP)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[592,112]},{"parameters":{"fromEmail":"4674kumardivyanshu@gmail.com","toEmail":"moviesbadshah4674@gmail.com","subject":"PR merged: #{{$json[\"pull_number\"]}}","text":"PR #{{$json[\"pull_number\"]}} was merged successfully.","html":"<p>PR #{{$json[\"pull_number\"]}} was merged successfully.</p>","options":{}},"id":"024665cd-517e-4915-af0b-23e29f4a9291","name":"Send Email - PR Merged","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[832,112]}],"connections":{"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bd3cc6aa-209d-46b5-b83f-37bf3589ce76","versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-10T16:05:08.112Z","createdAt":"2025-11-10T16:05:08.112Z","role":"workflow:owner","workflowId":"LGUBQ1Hia8BPUbty","projectId":"7NhL2W8HDcJfWC8y","project":{"updatedAt":"2025-11-08T08:39:48.066Z","createdAt":"2025-11-08T08:39:25.121Z","id":"7NhL2W8HDcJfWC8y","name":"Divyanshu Kumar <4674kumardivyanshu@gmail.com>","type":"personal","icon":null,"description":null}}]}